<?xml version="1.0" encoding="utf-8"?>
<appSettings>
	<add key="webpages:Version" value="2.0.0.0"/>
	<add key="webpages:Enabled" value="false"/>
	<add key="PreserveLoginUrl" value="true"/>
	<add key="ClientValidationEnabled" value="true"/>
	<add key="UnobtrusiveJavaScriptEnabled" value="true"/>
	<!-- 代理程序调用支付服务的URL接口地址 -->
	<add key="ApplicationServiceUrl" value="http://192.168.1.61:9013" />

	<!--memberCache缓存服务器地址-->
	<add key="CacheServerList" value="121.14.117.210:11211,121.14.117.237:11211"/>
	<add key="OpenMemcachedCache" value="0" />
</appSettings>
