<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
	<!--用户-->
	<add name="AuthContext" providerName="MySql.Data.MySqlClient" connectionString="Data Source=192.168.1.64;Initial Catalog=user_info;Persist Security Info=True;User ID=root;Password=root;MAX Pool Size=2000;Min Pool Size=3;Connection Lifetime=30;Pooling=true;charset=utf8;" />
	<add name="Master_AuthContext" providerName="MySql.Data.MySqlClient" connectionString="Data Source=192.168.1.64;Initial Catalog=user_info;Persist Security Info=True;User ID=root;Password=root;MAX Pool Size=2000;Min Pool Size=3;Connection Lifetime=30;Pooling=true;charset=utf8;" />


	<!--工具，资源打包-->
	<add name="tools_package_write" providerName="MySql.Data.MySqlClient" connectionString="Data Source=192.168.1.64;Initial Catalog=cw_yishang;Persist Security Info=True;User ID=root;Password=root;Pooling=true;charset=utf8;MAX Pool Size=2000;Min Pool Size=1;Connection Lifetime=30;" />
	<add name="tools_package_read"  providerName="MySql.Data.MySqlClient" connectionString="Data Source=192.168.1.64;Initial Catalog=cw_yishang;Persist Security Info=True;User ID=root;Password=root;Pooling=true;charset=utf8;MAX Pool Size=2000;Min Pool Size=1;Connection Lifetime=30;" />

	<!--工具，资源制做-->
	<add name="tools_workshop_write" providerName="MySql.Data.MySqlClient" connectionString="Data Source=192.168.1.64;Initial Catalog=cw_workshop;Persist Security Info=True;User ID=root;Password=root;Pooling=true;charset=utf8;MAX Pool Size=2000;Min Pool Size=1;Connection Lifetime=30;" />
	<add name="tools_workshop_read"  providerName="MySql.Data.MySqlClient" connectionString="Data Source=192.168.1.64;Initial Catalog=cw_workshop;Persist Security Info=True;User ID=root;Password=root;Pooling=true;charset=utf8;MAX Pool Size=2000;Min Pool Size=1;Connection Lifetime=30;" />

	<!--资源中心-->
	<add name="resource_center_write" providerName="MySql.Data.MySqlClient" connectionString="Data Source=192.168.1.64;Initial Catalog=cw_resx_center;Persist Security Info=True;User ID=root;Password=root;Pooling=true;charset=utf8;MAX Pool Size=2000;Min Pool Size=1;Connection Lifetime=30;" />
	<add name="resource_center_read"  providerName="MySql.Data.MySqlClient" connectionString="Data Source=192.168.1.64;Initial Catalog=cw_resx_center;Persist Security Info=True;User ID=root;Password=root;Pooling=true;charset=utf8;MAX Pool Size=2000;Min Pool Size=1;Connection Lifetime=30;" />

	<!--亿商-->
	<add name="yishang_read"  providerName="MySql.Data.MySqlClient" connectionString="Data Source=192.168.1.64;Initial Catalog=cw_yishang;Persist Security Info=True;User ID=root;Password=root;Pooling=true;charset=utf8;MAX Pool Size=2000;Min Pool Size=1;Connection Lifetime=30;" />
	<add name="yishang_write" providerName="MySql.Data.MySqlClient" connectionString="Data Source=192.168.1.64;Initial Catalog=cw_yishang;Persist Security Info=True;User ID=root;Password=root;Pooling=true;charset=utf8;MAX Pool Size=2000;Min Pool Size=1;Connection Lifetime=30;" />

	<!--校本代理商-->
	<add name="SchoolBased" providerName="MySql.Data.MySqlClient" connectionString="Data Source=192.168.1.64;Initial Catalog=cw_schoolbased;Persist Security Info=True;User ID=root;Password=root;MAX Pool Size=2000;Min Pool Size=3;Connection Lifetime=30;Pooling=true;charset=utf8;" />

	<!--新书柜-->
	<add name="cw_res_bookroomDB" providerName="MySql.Data.MySqlClient" connectionString="Data Source=192.168.1.64;Initial Catalog=cw_res_bookroom;Persist Security Info=True;User ID=root;Password=root;MAX Pool Size=2000;Min Pool Size=3;Connection Lifetime=30;Pooling=true;charset=utf8;" />

	<!--习网学习平台-->
	<add name="learning_platform_write" providerName="MySql.Data.MySqlClient" connectionString="Data Source=192.168.1.64;Initial Catalog=cw_school_learning_platform;Persist Security Info=True;User ID=root;Password=root;MAX Pool Size=2000;Min Pool Size=3;Connection Lifetime=30;Pooling=true;charset=utf8;" />
	<add name="learning_platform_read" providerName="MySql.Data.MySqlClient" connectionString="Data Source=192.168.1.64;Initial Catalog=cw_school_learning_platform;Persist Security Info=True;User ID=root;Password=root;MAX Pool Size=2000;Min Pool Size=3;Connection Lifetime=30;Pooling=true;charset=utf8;" />

	<!--作业-->
	<add name="RoomWorkRead" providerName="MySql.Data.MySqlClient" connectionString="Data Source=192.168.1.64;Initial Catalog=roomwork;Persist Security Info=True;User ID=root;Password=root;MAX Pool Size=2000;Min Pool Size=3;Connection Lifetime=30;Pooling=true;charset=utf8;" />
	<add name="RoomWorkWrite" providerName="MySql.Data.MySqlClient" connectionString="Data Source=192.168.1.64;Initial Catalog=roomwork;Persist Security Info=True;User ID=root;Password=root;MAX Pool Size=2000;Min Pool Size=3;Connection Lifetime=30;Pooling=true;charset=utf8;" />
</connectionStrings>
